:root {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 415px) {
    body {
        background-color: #262626;
        padding: 16px 8px 16px 8px;
        margin: 20px;
    }

    header {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
    }

    h1 {
        color: #ffffff;
        margin: 0.5rem;
        font-size: 50px;
    }

    h6 {
        color: #cacaca;
        margin: 0.5rem;
        font-size: large;
    }

    p {
        color: #ffffff;
        font-size: 16px;
        line-height: 29px;
        margin: 0.5rem;
        font-size: large;
        margin: 10px;
        padding: 10px;
    }


    picture {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 10px;
    }

    img {
        width: 386px;
        height: 380px;
    }

    div img {
        width: 3rem;
        height: auto;
    }

    .shadow-div-img {
        width: 386px;
        height: 380px;
    }

    div p {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 386px;
        height: 380px;
        margin: 0;
    }

    .p-position {
        position: absolute;
        color: #ffffff;
        font-size: 18px;
    }

    .shadow-img {
        width: 386px;
        height: 380px;
    }

}

@media screen and (max-width: 414px) {
    body {
        background-color: #262626;
        padding: 16px 8px 16px 8px;
    }

    header {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
    }

    h1 {
        color: #ffffff;
        margin: 0.5rem;
    }

    h6 {
        color: #cacaca;
        margin: 0.5rem;
    }

    p {
        color: #ffffff;
        font-size: 16px;
        line-height: 29px;
        margin: 0.5rem;
    }

    div img {
        width: 2rem;
        height: auto;
    }

    picture {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    img {
        width: 173px;
        height: 167px;
    }

    .shadow-div-img {
        width: 173px;
        height: 167px;
    }

    div p {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 173px;
        height: 167px;
        margin: 0;
    }

    .p-position {
        position: absolute;
        color: #ffffff;
        font-size: 18px;
    }

    .shadow-img {
        width: 173px;
        height: 167px;
    }

    
    .click-div:active {
        
    }

    .menu-div {
        animation-name: menu-animation;
        animation-duration: 0.5s;
        position: fixed;
        top: 0;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        margin: 0;
    }

}

@keyframes menu-animation {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}